.feature__title {
@extend %visually-hidden;
}

.feature__list {
    @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    }
}

.feature__item {
    @media screen and (max-width: 767px) {
        width: 100%;
        margin-bottom: 30px;

        &:last-child {
        margin-bottom: 0;
        }
    }

    @media screen and (min-width: $tablet) {
        width: calc((100% - 2 *30px) / 2);
        margin: 15px;
    }

    @media screen and (min-width: $desktop) {
        width: calc((100% - 4 *30px) / 4);
        margin: 15px;
    }
}

.feature__inner {
    display: flex;
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;

    background-color: $additionalBgColor;
    border-radius: 4px;
}

.feature__subtitle {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primaryColor;

    @media screen and (max-width: 767px) {
        text-align: center;
    }
}

.feature__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $secondaryColor;
}
