.services {
    @media screen and (max-width: 1199px) {
        display: none;
    }
    
}

.services__section {
    padding-top: 0;
}

.services__title {
    margin-bottom: 50px;
    text-align: center;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: $primaryColor;
}

.services__list {
    display: flex;
}

.services__item {
    position: relative;
    display: block;
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
}

.services__row {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;

    background-color: rgba(47, 48, 58, 0.8);
}

.services__subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $lightColor;
}