.socials {
    display: flex;
    @media screen and (max-width: 1199px) {
        justify-content: center;
    }
}

.socials__item {
    margin-right: 10px;

    &:last-child {
        margin-right: 0;
    }
}

.socials__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;

    border-radius: 50%;
    background-color: $lightColor;

    transition: background-color $primaryDuration $primaryCubic;
    
    &--background {
    background-color: rgba(255, 255, 255, 0.1);
    }  

    &:hover, &:focus {
        background-color: $accentColor;
    }

    
}

.socials__icon {
    fill: #afb1b8;
    transition: fill $primaryDuration $primaryCubic;

    .socials__link:hover &, .socials__link:focus & {
        fill: $lightColor;
    }

    &--white {
        fill: $lightColor;
    }
}
