.modal {

    position: relative;

    padding-top: 35px;
    padding-left: 33.5px;
    padding-right: 46.5px;
    padding-bottom: 45px;
    
    background-color: $lightColor;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    @media screen and (min-width: $tablet) {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 450px;
        height: 609px;
    
        transform: translate(-50%, -50%) scale(1);
        transition: transform $primaryDuration $primaryCubic;
    }

    @media screen and (min-width: $desktop) {
        width: 528px;
        height: 581px;
    }

    .backdrop__is-hidden & {
        @media screen and (min-width: $tablet) {
            transform: translate(-50%, -50%) scale(0.9);
        }
    }
}

.modal__btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;

    background-color: var(--primary-background-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
}

.modal__icon {
    fill: $darkColor;
    transition: fill $primaryDuration $primaryCubic;

    .modal__btn:hover &, .modal__btn:focus & {
        fill: $accentColor;
    }
}