// Fonts
$primaryFont: "Roboto", sans-serif;
$secondaryFont: "Raleway", sans-serif;
// Color
$primaryColor: #212121;
$secondaryColor: #757575;
$accentColor: #2196f3;
$hoverColorBtn: #188ce8;
$lightColor: #ffffff;
$darkColor: #000000;

$heroBgColor: #c4c4c4;
$additionalBgColor: #f5f4fa;
$footerBgColor: #2f303a;

// Transition
$primaryDuration: 250ms;
$primaryCubic: cubic-bezier(0.4, 0, 0.2, 1);

